body {
  background: linear-gradient(135deg, #FF9500, #61210F);
  position: relative;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.circle {
  position: absolute;
  top: -20%;
  left: -12%;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, #ffd998, #61210F);
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1; /* Assigner un z-index négatif */
}

.circle:nth-child(2) {
  top: 30%;
  left: 60%;
  background: radial-gradient(circle, #61210F, #FF9500);
  animation-duration: 12s;
}

/* Div centrée avec l'effet glassmorphism */
.centered-div {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -60%);
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border: 1px solid rgba(255, 255, 255, 0.99);
  padding: 240px 600px;
  z-index: 10; /* Assurer que cette div reste au-dessus */
  color: #333;
  font-family: Arial, sans-serif;
  text-align: center;
}

