  body {
    background: linear-gradient(135deg, #FF9500, #61210F);
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }

  .circle {
    position: absolute;
    top: -20%;
    left: -12%;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, #ffd998, #61210F);
    border-radius: 50%;
    filter: blur(100px);
    z-index: 0;
    /* Arrière-plan le plus bas */
  }

  .circle:nth-child(2) {
    top: 30%;
    left: 60%;
    background: radial-gradient(circle, #61210F, #FF9500);
    animation-duration: 12s;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Devant les cercles, mais derrière les autres éléments */
    pointer-events: none;
    /* Empêche de bloquer les clics sur les boutons */
  }

  body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }

  .conteneur {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    z-index: 2;
    width: 98%;
    height: 98%;
  }

  .aboutMe {
    grid-area: 1 / 1 / 13 / 11;
  }

  .skills {
    grid-area: 13 / 1 / 17 / 11;
  }

  .contact {
    grid-area: 13 / 11 / 17 / 21;
  }

  .realization {
    grid-area: 7 / 11 / 13 / 21;
  }

  .education {
    grid-area: 1 / 11 / 7 / 16;
  }

  .settings {
    grid-area: 1 / 16 / 7 / 21;
  }

  .aboutMe, .contact, .settings, .education, .skills, .realization {
    position: relative;
    overflow:auto;
    scrollbar-width: none; 
    background-color: red;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    border: 1px solid #fffffffc;
    z-index: 2;
    transition: transform 0.3s ease-out, backdrop-filter 0.5s ease;

    transform-origin: center center; /* Assure que la div se déplace depuis son centre */
  }


  .aboutMe:hover, .contact:hover, .settings:hover, .education:hover, .skills:hover, .realization:hover {
    backdrop-filter: blur(40.4px);
  }


  .aboutMe, .contact, .settings, .education, .skills, .realization p {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding: 16px;
    color: #fff;
    z-index: 2;
  }

  .aboutMe .pic {
    display: flex;
    height: 30%;
    margin-top: 5vw;
    margin-top: 0%;  
  }

  .aboutMe .pic p {
    font-size: 2vw;
    text-align: center;
    color: #fff;
    z-index: 2;
    font-family: 'Staatliches', sans-serif;
    margin-left: 2vw;
    text-align: left;
  }

  .aboutMe img {
    width: 10vw;
    height: auto;
    z-index: 1;
    border-radius: 1vw;
    border-color: #ffffff4c;
    border-style: solid;
  }

  .aboutMe .content {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 5vw;
    border-color: #ffffff4c;
    border-style: solid;
    border-radius: 1vw;
  }

  .aboutMe .text1, .text2 {
    width: 45%;
  }

  .aboutMe p {
    font-size: 1.5vw;
    text-align: center;
    color: #fff;
    z-index: 2;
    font-family: 'Staatliches', sans-serif;
    text-align: justify ;
  }

  .aboutMe .line {
    background-color: #ffffff4c;
    width: 2px;
    height: 10vw;
    margin: 0 1vw 0 1vw;
  }

  .skills {
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .carousel-track {
    display: flex;
    gap: 8vw;
    animation: scroll-left 20s linear infinite;
  }

  .carousel-track img {
    height: 9vw;
    width: auto;
    object-fit: contain;
    filter: drop-shadow(2px 2px 4px #00000030);
    transition: transform 0.3s ease;
  }

  .carousel-track img:hover {
    transform: scale(1.2);
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-51%);
    }
  }

  .education {
    padding: 0;
  }


  .education-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .education-content .image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .education-content .image img {
    width: 100%;
    object-fit: cover;
    border-radius: 1vw;
    transition: transform 0.4s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .education-content .image .left,
  .education-content .image .right {
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .education-content .image .left:hover,
  .education-content .image .right:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .education-content .image .left {
    left: 0;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
  }

  .education-content .image .right {
    right: 0;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
  }

  .arrow {
    font-size: 5vw;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    user-select: none;
  }

  .left .arrow {
    left: 10%;
  }

  .right .arrow {
    right: 10%;
  }
