body {
  background: linear-gradient(135deg, #FF9500, #61210F);
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.circle {
  position: absolute;
  top: -20%;
  left: -12%;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, #ffd998, #61210F);
  border-radius: 50%;
  filter: blur(100px);
  z-index: 0;
  /* Arrière-plan le plus bas */
}

.circle:nth-child(2) {
  top: 30%;
  left: 60%;
  background: radial-gradient(circle, #61210F, #FF9500);
  animation-duration: 12s;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Devant les cercles, mais derrière les autres éléments */
  pointer-events: none;
  /* Empêche de bloquer les clics sur les boutons */
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.conteneur {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  z-index: 2;
  width: 98%;
  height: 98%;
}

.aboutMe {
  grid-area: 1 / 1 / 13 / 11;
}

.skills {
  grid-area: 13 / 1 / 17 / 11;
}

.contact {
  grid-area: 13 / 11 / 17 / 21;
}

.realization {
  grid-area: 7 / 11 / 13 / 21;
}

.education {
  grid-area: 1 / 11 / 7 / 16;
}

.settings {
  grid-area: 1 / 16 / 7 / 21;
}

.conteneur div {
  position: relative;
  overflow: hidden;
  background-color: red;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.4px);
  border: 1px solid rgba(255, 255, 255, 0.99);
  z-index: 2;
  transition: transform 0.3s ease-out;
  transform-origin: center center; /* Assure que la div se déplace depuis son centre */
}


.conteneur div:hover {
  backdrop-filter: blur(40.4px);
}


.conteneur div p {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: 16px;
  color: #fff;
  z-index: 2;
}